# 忽略所有
*

# 保留以下目录
!/commands/
!/commands/**
!/rules/
!/rules/**
!/skills/
!/skills/**
!/agents/
!/agents/**
!/office-deps/
!/office-deps/**

!/projects/
!/projects/*/
!/projects/*/memory/
!/projects/*/memory/**

# worktree 记忆是符号链接到 main 的，不需要单独保存
/projects/*worktrees*/

# 保留 gitignore 自身
!.gitignore

# 保留设置文件
!settings.json
