# 忽略所有
*

# 保留以下目录
!/commands/
!/commands/**
!/rules/
!/rules/**
!/skills/
!/skills/**
!/agents/
!/agents/**
!/office-deps/
!/office-deps/**

# 排除虚拟环境
office-deps/.venv/

# 保留 gitignore 自身
!.gitignore

# 保留设置文件
!settings.json
